#page-mod-pulse-mod .credits-field-pending {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}
.credits-navbar-container .dropdown .dropdown-menu-right {
    left: auto;
    right: 0;
}
